=render "users/logo"


= form_for(@user, url: user_registration_path) do |f|
  .regist
    .regist__menu
      %h1 会員情報
      %h2 詳細情報
      %h3 完了
        
    .regist__form
      .regist__form--title
        %h1 会員情報入力

      .regist__form--require
        = f.label "ニックネーム"
        %h4 必須
      .regist__form--nickname
        = f.text_field :nickname

      .regist__form--require
        = f.label "メールアドレス"
        %h4 必須
      .regist__form--email
        = f.email_field :email, autocomplete: "email"

      .regist__form--require
        = f.label "パスワード"
        %h4 必須
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
      .regist__form--password
        = f.password_field :password, autocomplete: "new-password"

      .regist__form--require
        = f.label "確認用パスワード"
        %h4 必須
      .regist__form--password-confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password"

    .regist__submit
      = f.submit "次へ"


= render "users/footer"



