.exhibision
  .exhibision__top
    = link_to root_path do
      = image_tag 'material/logo/logo.png'
  .exhibision__content
    = form_with model: @item do |f|
      .exhibision__content__box
        .exhibision__content__box__image
          .exhibision__content__box__image--name
            出品画像
            %span 必須
          %p 最大10枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                = i.file_field :image, type: 'file', name: "item[images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                %label{for: "img-file"}
                  %i.fas.fa-camera

        .exhibision__content__box--item
          .exhibision__content__box--item--name
            商品名
            %span 必須
          .exhibision__content__box--item--form
            = f.text_field :name, class:"exhibision__content__box--item--form--input", placeholder: "40字まで"
          .exhibision__content__box--item--name
            商品の説明
            %span 必須
          .exhibision__content__box--item--text
            = f.text_area :introduction, class:"exhibision__content__box__item-illustration", placeholder: "商品の説明(必須1,000文字以内)\n(色、素材、重さ、定価、注意点など)\n\n例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .exhibision__content__box__detail
          %p 商品詳細
          .exhibision__content__box__detail--name
            カテゴリー
            %span 必須
          .exhibision__content__box__detail--select
            = f.collection_select :category_id, Category.all, :id, :name, {prompt:"選択してください"}, {class:"exhibision__content__box__detail--status-form"}
          .exhibision__content__box__detail--brand
            ブランド
            %span 任意
          .exhibision__content__box__detail--form
            = f.text_field :name, class:"exhibision__content__box__detail--form--input", placeholder: "例) シャネル"
          .exhibision__content__box__detail--name
            商品の状態
            %span 必須
          .exhibision__content__box__detail--select
            = f.select :itemstatus, ['新品、未使用', '未使用に近い', '目立った傷や汚れ無し', 'やや傷や汚れあり', '汚れや傷あり', '全体的に状態が悪い'], prompt:"選択してください",class:"exhibision__content__box__detail--status-form"
        .exhibision__content__box__shipment
          .exhibision__content__box__shipment--name
            配送料の負担
            %span 必須
          .exhibision__content__box__shipment--select
            = f.select :shipment_fee, ['送料込み(出品者負担)', '着払い（購入者負担）'], prompt:"選択してください",class:"exhibision__content__box__shipment-fee-form"
          .exhibision__content__box__shipment--name
            発送元の地域
            %span 必須
          .exhibision__content__box__shipment--select
            = f.select :shipment_pref, ['北海道', '青森', '岩手', '宮城', '秋田', '山形', '福島', '茨城', '栃木', '群馬', '埼玉', '千葉', '東京', '神奈川', '新潟', '富山', '石川', '福井', '山梨', '長野', '岐阜', '静岡', '愛知', '三重', '滋賀', '京都', '大阪', '兵庫', '奈良', '和歌山', '島根', '鳥取','岡山','広島','山口','徳島','香川','愛媛','高知','福岡','佐賀','長崎','大分','熊本','宮崎','鹿児島','沖縄'], prompt:"選択してください",class:"exhibision__content__box__shipment-pref-form"
          .exhibision__content__box__shipment--name
            発送日までの日数
            %span 必須
          .exhibision__content__box__shipment--select
            = f.select :itemstatus, ['１〜２日で発送', '２〜３日で発送', '４〜７日で発送'], prompt:"選択してください",class:"exhibision__content__box__shipment--date-form"
        .exhibision__content__box__price
          .exhibision__content__box__price--name
            販売価格
            %span 必須
          .exhibision__content__box__price--select
            ￥
            = f.number_field :price_id ,placeholder: "0"
        .exhibision__content__box__sent  
          = f.submit "出品する"
        
