.header
  .header__inner
    .header__inner--main
      %h1.icon
        = link_to "/" do
          = image_tag 'logo.png'
      .search-form
        %form{"accept-charset": "UTF-8", action: "#", method: "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input{name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit"} 
            = image_tag 'material/icon/icon-search 1.png', class: "search-form__icon"
          %input{name: "authenticity_token", type: "hidden", value: ""}
      %ul.resultLists
    .lists     
      %ul.lists__left
        %li.lists__left--first-item
          = link_to "#" do
            カテゴリー
        %li.lists__left--item
          = link_to "#" do
            ブランド
      %ul.lists__right
        - if user_signed_in? 
          %li.lists__right--item-login
            = link_to "#{current_user[:nickname]}のマイページ", "/users/show"
        - else
          %li.lists__right--item-login
            = link_to "ログイン", new_user_session_path
          %li.lists__right--item-new
            = link_to "新規会員登録", new_user_registration_path
%nav.bread-line
  %ul
    %li
      = link_to "#" do
        FURIMA
      %i.fa.fa-angle-right
      %i:before
    %li
      = link_to "#" do
        ベビー・キッズ
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        ベビー服(男女兼用)
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        アウター
      %i.fa.fa-angle-right
    %li.list-last
      %p product3
  %ul:after
      
.main
  .main__content
    .main__content--left
    .main__content--right
      .view
        .view__item
          %h2.view__item--box
            = @item.name
          .view__item--body
            %ul
              %li
                = image_tag @item.images.first.url.url
                .image-prev
                  - @item.images.each_with_index do |image, i|
                    = image_tag image.url.url, data: {index: i}
          .item-price
            %span.price
              ￥
              = @item.price.to_s(:delimited)
            .item-price__detail
              %span.tax (税込み)
              %span.sent 送料込み
          .item-box
            = @item.introduction
          .table
            %table
              %tr
                %th 出品者
                %td
                  = User.find(@item.seller_id).nickname
              %tr
                %th カテゴリー
                %td
                  = link_to "#" do
                    = @item.category.parent.parent.name
                  %br
                  = link_to "#" do
                    = @item.category.parent.name
                  %br
                  = link_to "#" do
                    = @item.category.name
              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品サイズ
                %td
              %tr
                %th 商品の状態
                %td
                  = @item.item_status.name
              %tr
                %th 配送料の負担
                %td
                  = @item.shipment_fee.name
              %tr 
                %th 発送元の地域
                %td
                  = link_to "#" do
                    = @item.shipment_pref.name
              %tr
                %th 発送日の目安
                %td
                  = @item.shipment_date.name
          .option
            %ul
              %li#likebtn.optional-btn.likebtn
                %i.fa.fa-star
                  お気に入り 0
            %ul.optional
              %li.optional-btn
                = link_to "#" do
                  %i.fa.fa-flag
                    不適切な商品の通報

          .itembtn
            - if user_signed_in? 
              - if current_user.id == @item.seller_id
                .itembtn__edit
                  = link_to "編集", edit_item_path(@item.id)
                .itembtn__delete
                  = link_to "削除", item_path(@item.id), method: :delete
              - else
                -if @item.buyer_id.present? 
                  .itembtn__sold
                    SOLD
                -else
                  .itembtn__buy
                    = link_to "購入画面に進む", purchase_item_cards_path(@item.id)
            - else
              .itembtn__login
                = link_to "ログイン", new_user_session_path
              .itembtn__newregist
                = link_to "新規会員登録", new_user_registration_path



        .comment-box
          %ul.commment-box__contents
          %form#new_comment.new_comment{"accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "t7QppxSMjD5GbyErZfOS8/krdGemjmTN+GAIP5E/3RNDFFmQ7YycrpvTt50WP99IqMub+/5mEkQs8wfXlwyrXw=="}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.comment-box__notice-msg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.comment-box__comment-btn{name: "button", type: "submit"}
              %i.fa.fa-comment
              コメントする
        %ul.links
          %li.left
            = link_to "#" do
              %i.fa.fa-angle-left
              %span 前の商品
          %li.right
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        %ul:after
        .related-items
          = link_to "#" do
            ベビー・キッズをもっと見る
.banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to "#" do
        = image_tag 'apple.png'
      = link_to "#" do
        = image_tag 'google.png'


.footer
  = render "users/footer"

= link_to "/items/new" do
  .purchase
    %span.purchase__text 出品する
    = image_tag 'material/icon/icon_camera.png', class: "purchase__icon"